.greeting {
    font-size: 52px;
}

.page{
    margin-top: 10vh;
    margin-right: 10vh;
    z-index: 2;

}


.definition {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;

    
}
h2 {
    font-family: Helvetica, sans-serif;
    color: white;
    padding: 1vh;
   display: inline-block;
  }
  
  h1 {
    
      font-family: Helvetica, sans-serif;
      color: white;
      padding: 1vh;
     display: inline-block;
    
  }