marquee {
    font-size: 28px;
    color: yellow;
    font-weight: bold;
    text-shadow: 1em 0.5em 0.2em black ;
}

.footer {
    background-image: url('../components/images/90sbanner.png');
    z-index: 0;
}

