.left {
 display: flex;
 align-items: flex-start;
 flex-direction: row;
 height: 100vh;

}


.sideNav {
  height: 100vh;
  width: max-content;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(90deg);
  
  
}



a:link {
    text-decoration: none;
    color: white;
  
    
  }
  
  a:visited {
    text-decoration: none;
    color:rgb(161, 161, 161);
  }
  

.nav-item {
    list-style: none;
    color:white;
    padding: 5%;
   
}