.App {
  background-image: url('../src/components/images/callnowbg.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  
  
}
.renderPage {
  display: flex;

}

.cactusDiv {
  margin: 1vh;
  padding: 3vh;
}
p, h1, h3,ul, li {
  color: white;
 
}

h3 {
  font-family: 'Times New Roman', Times, serif;
}

ul {
  font-style: italic;
}
